# SwiftPM
.build/
.swiftpm/

# macOS app bundle
Lumin.app/
Lumin.xcodeproj/
dmg-contents/
Lumin.dmg

# Xcode/Derived data (if opened in Xcode)
DerivedData/
xcuserdata/

# macOS cruft
.DS_Store

# vscode
.vscode

